<div class="container">
  <button type="button" class="btn btn-primary" [routerLink]="'/'">Home</button>
  <form>
    <div class="mb-3">
      <label for="id" class="form-label">Id</label>
      <input type="text" class="form-control" id="id" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="name" class="form-label">Name</label>
      <input type="text" class="form-control" id="name" aria-describedby="emailHelp">
    </div>
    <div class="mb-3">
      <label for="tp" class="form-label">TP</label>
      <input type="text" class="form-control" id="tp" aria-describedby="emailHelp">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>
